@media only screen and (max-width: 1023px){
  .faq {
    &__main-block-description {
      width: 70%;
    }
    &-tabs__wrapper {
      max-width: 73rem;
      margin: 0 auto;
    }
    &__information {
      max-width: 73rem;
    }
    &__information-image {
      margin-top: -5.5rem;
      img {
        width: 40rem;
        height: 33rem;
        object-fit: cover;
      }
    }

  }

}

@media only screen and (max-width: 767px) {
  .faq{
    &__main-block-wrapper{
      height: 40rem;
      background: url('../../assets/images/faqbgmob.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__main-block {
      //display: block;
    }
    &__main-block-description{
      width: 60%;
      //padding-top: 4.8rem;
    }
    &__main-block-title{
      font-size: 2.8rem;
      line-height: 1.36;
      margin-bottom: 1.6rem;
    }
    &-tabs {
      padding-bottom: 8rem;
      &__wrapper{
        width: calc(100% - 3.2rem);
        margin: 0 auto .8rem;
      }
    }
    &__information-title {
      font-size: 2.8rem;
      line-height: 1.36;
      margin-bottom: 1.6rem;
      text-align: center;
    }
    &__information-wrapper{
      height: 100%;
    }
    &__information{
      //flex-direction: column;
      margin: 0 1.6rem;
      padding-top: 4.8rem;
      &-sub-title{
        width: 100%;
        text-align: center;
        margin-bottom: 4rem;
      }
      &-button {
        width: 100%;
      }
    }
    &__information-description{
      margin-bottom: 3.9rem;
    }
    &__information-image{
      //width: 100%;
      margin-top: 0;
      img{
        width: 30rem;
        height: 100%;
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
  .dropdownlink {
    font-size: 1.6rem;
    line-height: 1.5;
    height: 100%;
    //width: calc(100% - 3.2rem);
    //margin: 0 auto .8rem;
    align-items: flex-start;
  }
  .accordion-open.open{
    //width: calc(100% - 3.2rem);
    //margin: 0 auto .8rem;
  }
  .close-svg {
    margin-left: 3rem;
    flex-shrink: 0;
  }
  .open-svg{
    margin-left: 3rem;
    flex-shrink: 0;
  }
  .submenuItems ul{
    padding-right: 2.4rem;
  }
}

@media only screen and (max-width: 650px){
  .faq{
    &__main-block-wrapper{
      height: 40rem;
      background: url('../../assets/images/faqbgmob.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__main-block {
      display: block;
    }
    &__main-block-description{
      width: 100%;
      padding-top: 4.8rem;
    }
    &__main-block-title{
      font-size: 2.8rem;
      line-height: 1.36;
      margin-bottom: 1.6rem;
    }
    &-tabs {
      padding-bottom: 8rem;
      &__wrapper{
        width: calc(100% - 3.2rem);
        margin: 0 auto .8rem;
      }
    }
    &__information-title {
      font-size: 2.8rem;
      line-height: 1.36;
      margin-bottom: 1.6rem;
      text-align: center;
    }
    &__information-wrapper{
      height: 100%;
    }
    &__information{
      flex-direction: column;
      margin: 0 1.6rem;
      padding-top: 4.8rem;
      &-sub-title{
        width: 100%;
        text-align: center;
        margin-bottom: 4rem;
      }
      &-button {
        width: 100%;
      }
    }
    &__information-description{
      margin-bottom: 3.9rem;
    }
    &__information-image{
      width: 100%;
      margin-top: 0;
      img{
        width: 30rem;
        height: 100%;
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
  .dropdownlink {
    font-size: 1.6rem;
    line-height: 1.5;
    height: 100%;
    //width: calc(100% - 3.2rem);
    //margin: 0 auto .8rem;
    align-items: flex-start;
  }
  .accordion-open.open{
    //width: calc(100% - 3.2rem);
    //margin: 0 auto .8rem;
  }
  .close-svg {
    margin-left: 3rem;
    flex-shrink: 0;
  }
  .open-svg{
    margin-left: 3rem;
    flex-shrink: 0;
  }
  .submenuItems ul{
    padding-right: 2.4rem;
  }
}

@media only screen and (max-width: 425px) {
  .faq{
    &__main-block-wrapper{
      height: 40rem;
      background: url('../../assets/images/faqbgmob.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__main-block {
      display: block;
    }
    &__main-block-description{
      width: 100%;
      padding-top: 4.8rem;
    }
    &__main-block-title{
      font-size: 2.8rem;
      line-height: 1.36;
      margin-bottom: 1.6rem;
    }
    &-tabs {
      padding-bottom: 8rem;
      &__wrapper{
        width: calc(100% - 3.2rem);
        margin: 0 auto .8rem;
      }
    }
    &__information-title {
      font-size: 2.8rem;
      line-height: 1.36;
      margin-bottom: 1.6rem;
      text-align: center;
    }
    &__information-wrapper{
      height: 100%;
    }
    &__information{
      flex-direction: column;
      margin: 0 1.6rem;
      padding-top: 4.8rem;
      &-sub-title{
        width: 100%;
        text-align: center;
        margin-bottom: 4rem;
      }
      &-button {
        width: 100%;
      }
    }
    &__information-description{
      margin-bottom: 3.9rem;
    }
    &__information-image{
      width: 100%;
      margin-top: 0;
      img{
        width: 23.9rem;
        //width: 100%;
        height: 100%;
        margin-right: -.6rem;
        margin-left: auto;
      }
    }
  }
  .dropdownlink {
    font-size: 1.6rem;
    line-height: 1.5;
    height: 100%;
    //width: calc(100% - 3.2rem);
    //margin: 0 auto .8rem;
    align-items: flex-start;
  }
  .accordion-open.open{
    //width: calc(100% - 3.2rem);
    //margin: 0 auto .8rem;
  }
  .close-svg {
    margin-left: 3rem;
    flex-shrink: 0;
  }
  .open-svg{
    margin-left: 3rem;
    flex-shrink: 0;
  }
  .submenuItems ul{
    padding-right: 2.4rem;
  }
}

