.hairdressing-services {
  &__tabs {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 15.7rem;

    ul {

      li {
        &:last-child {
          margin-left: 7.5rem;
        }
      }
    }
  }

  &__right {
    &-price {
      position: relative;
      width: 62.6rem;
      height: 70.7rem;
      background-color: #F7F2F5;
      padding: 7.6rem 8.9rem 5.1rem 7.8rem;
      &-price {
        overflow-y: auto;
        padding: 7.6rem 8.9rem 11rem 7.8rem;


        position: relative;
        width: 62.6rem;
        height: 70.7rem;
        background-color: #F7F2F5;

        &::-webkit-scrollbar-track {
          border-radius: 5px;
          background-color: #E3E4E7;
        }

        &::-webkit-scrollbar {
          width: 3px;
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: .5rem;
          background-color: #97D6CB;
        }
      }
      h4 {
        font-weight: 500;
        font-size: 4rem;
        line-height: 4.6rem;
        letter-spacing: 0.07em;
        color: #40362E;
        margin-bottom: 3.7rem;
      }

          margin-bottom: 4.4rem;
          &:last-child {
            margin-bottom: 0;
          }
          p {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.8rem;
            color: #40362E;
            opacity: .5;
            span {
              font-weight: 500;
              font-size: 1.8rem;
              line-height: 2.1rem;
              color: #40362E;
            }
      }
      a {
        position: absolute;
        bottom: 5.1rem;
        left: 50%;
        transform: translateX(-50%);

        display: block;
        text-align: center;
        width: max-content;
        min-width: 22rem;
        padding: 1.4rem;
        font-size: 1.6rem;
        line-height: 2.2rem;;
        background: #97D6CB;
        color: #fff;
        margin: 0 auto;
        transition: .25s;

        &:hover {
          box-shadow: inset 220px 0 0 0 #4B9285;
          color: #fff;
        }
      }
    }
  }
  &__body{
   display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .6rem;
    p {
      //font-family: Ubuntu;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.8rem;
      color: #40362E;
      opacity: .5;


    }
    span {
      //font-family: Ubuntu;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.1rem;
      color: #40362E;
    }
  }

  &__button-wrapper {
    margin-right: 7.5rem;
    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: unset;
    width: 21.4rem;
    height: 6.5rem;
    border: 1px solid #4B9285;
    //font-family: Ubuntu;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #4B9285;
    transition: .25s;

    &.active {
      background: #4B9285;
      border: 1px solid #4B9285;
      color: #fff;
    }

    &:hover {
      //box-shadow: inset 220px 0 0 0 #4B9285;
      color: #4B9285;
    }
  }



  .accordion-button {
    background-color: transparent;
    padding: 0;
    width: 70%;
    opacity: 1;
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
  .accordion-button::after {
    background-image: url("../../../assets/images/Vectorarr.svg");
    background-position-y: 5px;
    background-repeat: no-repeat;
  }
  .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: unset;
    color: #40362E;
    opacity: 1;
  }

  .accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: unset;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #40362E;
    margin-bottom: .6rem;
    z-index: 9999;
    span {
      font-weight: 500;
    }
  }


  &__right-price {
    &__body-wrapper {
      &__body {
        p {
          //font-family: Ubuntu;
          font-family: 'Lora', serif;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 1.8rem;
          color: #40362E;
          opacity: .5;

          span {
            //font-family: Ubuntu;
            font-family: 'Lora', serif;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.1rem;
            color: #40362E;
          }
        }
      }
    }
  }
  &__modal-dialog {
    max-width: unset;
    margin: 0;
  }
  &__modal-content {
    height: 100vh !important;
    background-color: #FAFAFA;
  }

  &__modal-button {
    position: absolute;
    right: 2.5rem;
    top: 1.5rem;
    color: #40362E;
    opacity: .67;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    transition: .25s;
    &:hover {
      color: #4B9285;
      transition: .25s;
    }
  }

  &__modal-button-close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3.1rem 3.5rem 0 ;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #2E2621;
    svg {
      margin-left: 1.9rem;
    }
  }
  &__modal-body {
    h3{
      font-weight: 400;
      font-size: 4rem;
      line-height: 5.1rem;
      text-align: center;
      letter-spacing: 0.07em;
      color: #2E2621;
      margin-bottom: 8.5rem;
      font-family: 'Lora', serif;
    }
  }
  &__type {
    &-image{
      background-image: url("../../../assets/images/аad1.png");
      background-repeat: no-repeat;
      background-position-x: center;
      width: 100%;
      height: 69rem;
      position: absolute;
      bottom: 0;
    }
    &-line {
      width: 1.5px;
      height: 67rem;
      position: absolute;
      left: 52%;
      bottom: 6.1rem;
    }

    &-line-text{
      position: relative;
      font-family: 'Ubuntu', sans-serif;
      width: 68.3rem;
      font-weight: 400;
      font-size: 2rem;
      line-height: 2.2rem;
      color: #2E2621;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4.7rem 0 0.8rem 0;
      &:nth-child(1) {
        padding-top: 20rem;
      }
      &:nth-child(2) {
        padding-top: 8rem;
      }
      &:nth-child(3) {
        padding-top: 6.3rem;
      }
      &:nth-child(4) {
        padding-top: 6.3rem;
      }
      &:nth-child(5) {
        padding-top: 4.8rem;
      }
      &:nth-child(6) {
        padding-top: 2.2rem;
      }
      p{
        display: block;
        width: 100%;
        //height: 4.5rem;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.2rem;
        color: #C75EEF;
        margin: 0 auto;
        font-family: 'Ubuntu', sans-serif;
      }
      &-wrapper {
        width: 32rem;
        text-align: left;
      }
    }
  }
  &__item {
    position: absolute;
    bottom: 0;
    left: -17rem;
    width: 40.7rem;
    height: .2rem;
    background: linear-gradient(90deg, rgba(196, 64, 141, 0) 34.5%, #C4408D 52.9%, rgba(196, 64, 141, 0) 95.61%);
  }
}
