@media only screen and (max-width: 1023px){

  .loan{
    &__question{
      height: 100%;

    }
    &__question-wrapper{
      padding: 5rem 0;
      justify-content: center;
    }
    &__question-image-left{
      display: none;
    }
    &__question-text{
      justify-content: unset;
      h3{
        font-size: 28px;
        line-height: 1.36;
        margin-bottom: 2rem;
      }
      p{
        margin-bottom: 4rem;
      }
      a{
        width: calc(100% - 3.2rem);
        margin: 0 auto;
      }
    }
    &__question-image-right{
      display: none;
    }
  }

  .loans-motorcycle {
    h2{
      width: 100%;
    }
    p {
      width: 100%;
    }
    &__links {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 650px){
  .loans-icon {
    ul {

      flex-wrap: wrap;
    }

    li {
      width: 33.3%;
      text-align: center;
      margin-bottom: 2rem;
      font-size: 1.2rem;
      line-height: 1.75;
      justify-content: center;
    }
  }

}

@media only screen and (max-width: 425px){
  .loans-motorcycle {
    padding: 4.8rem 0 7.8rem 0;
    h2{
      width: 100%;
      font-size: 2.8rem;
      line-height: 1.36;
      margin-bottom: 2rem;
    }
    p{
      width: 100%;
      margin-bottom: 3rem;
    }
    &__wrapper{
      height: 40rem;
    }
    &__links{
      width: 100%;
      flex-direction: column;
      align-items: unset;
    }
    &__link{
      width: 100%;
      margin-bottom: 1.8rem;
      margin-right: 0;
    }
    &__button{
      width: 100%;
      text-align: center;
    }
  }
  .loans-icon{
    ul{

      flex-wrap: wrap;
    }
    li{
      width: 50%;
      text-align: center;
      margin-bottom: 2rem;
      font-size: 1.2rem;
      line-height: 1.75;
      justify-content: center;
    }

    li:nth-last-child(-n+2){
      margin-bottom: 0;
    }
    &__wrapper svg {
      margin-bottom: 1rem;
    }
  }
  .loans{
    &__text-wrapper {
      width: 100%;
      margin: 0 auto;
      padding: 5rem 1.6rem;
    }
    &__list{
      h2{
        font-size: 2.1rem;
        line-height: 1.48;
      }
      p{
        font-size: 1.6rem;
        line-height: 1.5;
      }
    }
  }


}